In [1]:
pwd

'/home/wsuser/work'

In [11]:
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_1 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-b3c4cbcc-1e9a-46ef-aeff-bc28432fd4c9',
    'IBM_API_KEY_ID': 't4BymCkk7mtNC3l20XUOsx9f0XHQ4n9fiI_Mug8hQL1h',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'sparkify-donotdelete-pr-vznycgubb37sbs',
    'FILE': 'mini_sparkify_event_data.json'
}

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_80db37dc9cac4b17b33e3330a97cb7c5 = 'https://s3.eu-geo.objectstorage.softlayer.net'
else:
    endpoint_80db37dc9cac4b17b33e3330a97cb7c5 = 'https://s3.eu-geo.objectstorage.service.networklayer.com'

client_80db37dc9cac4b17b33e3330a97cb7c5 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='t4BymCkk7mtNC3l20XUOsx9f0XHQ4n9fiI_Mug8hQL1h',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_80db37dc9cac4b17b33e3330a97cb7c5)

body = client_80db37dc9cac4b17b33e3330a97cb7c5.get_object(Bucket='sparkify-donotdelete-pr-vznycgubb37sbs',Key='mini_sparkify_event_data.json')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object 

if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# Since JSON data can be semi-structured and contain additional metadata, it is possible that you might face an error during data loading.
# Please read the documentation of 'pandas.read_json()' and 'pandas.io.json.json_normalize' to learn more about the possibilities to adjust the data loading.
# pandas documentation: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
# and http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html

df = pd.read_json(body, orient='values', lines = True)
df.head()

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
0,1538352117000,30,29,NextSong,Logged In,PUT,200,paid,50,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Martha Tilston,Rockpools,277.89016
1,1538352180000,9,8,NextSong,Logged In,PUT,200,free,79,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Five Iron Frenzy,Canada,236.09424
2,1538352394000,30,29,NextSong,Logged In,PUT,200,paid,51,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Adam Lambert,Time For Miracles,282.82730
3,1538352416000,9,8,NextSong,Logged In,PUT,200,free,80,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Enigma,Knocking On Forbidden Doors,262.71302
4,1538352676000,30,29,NextSong,Logged In,PUT,200,paid,52,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Daft Punk,Harder Better Faster Stronger,223.60771

In [12]:
df.describe()

,ts,sessionId,status,itemInSession,registration,length
count,2.865000e+05,286500.000000,286500.000000,286500.000000,2.781540e+05,228108.000000
mean,1.540957e+12,1041.526555,210.054597,114.414213,1.535359e+12,249.117182
std,1.507544e+09,726.776263,31.505078,129.767262,3.291322e+09,99.235179
min,1.538352e+12,1.000000,200.000000,0.000000,1.521381e+12,0.783220
25%,1.539697e+12,336.000000,200.000000,27.000000,1.533522e+12,199.888530
50%,1.540932e+12,1013.000000,200.000000,70.000000,1.536664e+12,234.500770
75%,1.542266e+12,1675.000000,200.000000,156.250000,1.537672e+12,277.158730
max,1.543799e+12,2474.000000,404.000000,1321.000000,1.543247e+12,3024.665670

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286500 entries, 0 to 286499
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ts             286500 non-null  int64
 1   userId         286500 non-null  object
 2   sessionId      286500 non-null  int64
 3   page           286500 non-null  object
 4   auth           286500 non-null  object
 5   method         286500 non-null  object
 6   status         286500 non-null  int64
 7   level          286500 non-null  object
 8   itemInSession  286500 non-null  int64
 9   location       278154 non-null  object
 10  userAgent      278154 non-null  object
 11  lastName       278154 non-null  object
 12  firstName      278154 non-null  object
 13  registration   278154 non-null  float64
 14  gender         278154 non-null  object
 15  artist         228108 non-null  object
 16  song           228108 non-null  object
 17  length         228108 non-null  float64
dtypes: float64(2), int64(4), object(12)
memory usage: 39.3+ MB

In [16]:
df['location'].value_counts()

Los Angeles-Long Beach-Anaheim, CA        30131
New York-Newark-Jersey City, NY-NJ-PA     23684
Boston-Cambridge-Newton, MA-NH            13873
Houston-The Woodlands-Sugar Land, TX       9499
Charlotte-Concord-Gastonia, NC-SC          7780
                                          ...
Deltona-Daytona Beach-Ormond Beach, FL       73
Memphis, TN-MS-AR                            62
Albany, OR                                   23
Corpus Christi, TX                           11
Scranton--Wilkes-Barre--Hazleton, PA          6
Name: location, Length: 114, dtype: int64